/* * {
    outline: 2px solid blue;
} */

html {
    width: auto;
    height: auto;
}

figure {
    /* Centering an image needs width, margin left and right set to auto */
    display: block; 
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    /* Margin left and right is just moving with the webpage */
}

img {
    max-width: 400px;
    max-height: 500px;
   
}

header {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px; 
}

#container1 {
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 200px;
    margin-left: 20px;
}

h2 {
    margin-right: 20px;
    font-size: 20px;
    align-self: center;
    
}


p {
    text-align: left;
}


/*nav{
    display: flex; 
    width: 220px;
    margin-left: auto;
    margin-right: auto; */
    /* text-align: center; */
/*}*/

#container2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

main {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: 1px solid black;
    border-radius: 30px;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

label {
    display: block;
}

input {
    width: 300px;
    display: block;

    border: 1px solid black;
    border-radius: 2px;
}

textarea {
    width: 300px;
    border: 1px solid black;
    border-radius: 2px;
}