img {
    max-width: 400px;
    max-height: 500px;
}

header {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}

h1 {
    text-align: left;
}

h2 {
    text-align: right;
}


p {
    text-align: left;
}


nav{
    text-align: center;
}

main {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

form {
    width: 400px;
}

input {
    width: 400px;
}

textarea {
    width: 400px;
}