html {
    width: auto;
    height: auto;
}

figure {
    /* Centering an image needs display block, width, margin left and right set to auto */
    display: block; 
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 400px;
    max-height: 500px;
   
}

header {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px; 
}

#container1 {
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 200px;
    margin-left: 20px;
}

h2 {
    margin-right: 20px;
    font-size: 20px;
    align-self: center;
    
}


p {
    text-align: left;
}


nav{
    display: flex; 
    width: 220px;
    margin-left: auto;
    margin-right: auto; 
    /* text-align: center; */
}

main {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

form {
    width: nowrap;
}

label {
    display: block;
}

input {
    width: 400px;
    display: block;
}

textarea {
    width: 400px;
}